* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
 }


 /******** body ********/
body {
    font-size: 0;
}


/***************** header ******************/
header {
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
}


/* Mobile */
header {
    display: block;
    background-color: #ff0000;
}
/* Tablet: */
@media only screen and (min-width: 768px) {
    header {
        display: block;
        background-color: #2200ff;
    }
}
/* PC: */
@media only screen and (min-width: 1200px) {
    header {
        display: block;
        background-color: #f6ff00;
    }
}

/******** seccion1 ********/
.seccion1 {
    width: 75%;
    margin: 0px auto;
    padding: 0px;
    background-color: #ff00aa;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
}

p {
text-align: center;
}

.cajas {
    border: 20px solid #000000;
    margin: 0px;
}

/* Mobile */
    .cajas {
        width: 100%;
        height: 300px;
        background-color: #ff00aa;
}
/* Tablet: */
@media only screen and (min-width: 768px) {
    .cajas {
        width: 50%;
        height: 150px;
        background-color: #00f2ff;
    }
}
/* PC: */
@media only screen and (min-width: 1200px) {
    .cajas {
        width:33.333%;
        height: 500px;
        background-color: #00ff99;
    }
}